
body{
    /* Setting background image and adjusting its properties */
    background-image: url("../Janith/pictures_(STUDENT 2)/target\ logo.jpg");
    height: auto;
    background-size: cover;
    
}

/* Styling the main header section */
#main-header1{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;   
    margin-bottom:20px ;
    
}


/* Styling the main header text */
#main-header1 h1{
    margin: 100px 40px 40px 40px;
    font-size: 75px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    
}

/* Styling the container for the "Things To Do" section */
.TTD{
    display: grid;    
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr  ;
    grid-row-gap: 45px;
    
}

/* Styling images within the "Things To Do" section */
.TTD img{
    height: 300px;
    float: left;
    padding: 15px;
    border-radius: 30px;   
    
}

/* Styling hover effect on images */
.TTD image:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 1, 1); 
}

/* Styling heading tags within the "Things To Do" section */
.TTD h2{
    font-weight: bolder;
    color: rgb(0, 187, 255);
    
}


/* Styling individual items within "Things To Do" section */
.TTD-one{
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(0, 187, 255);
    
}


.TTD-two{
    border-radius: 10px;
    margin: 20px;
   
}


/* Styling text with blue theme */
.blue-theme{
    font-weight: bolder;
    font-size: 20px;
    color: white;
    padding-top: 20px;
}


/* Styling text with white theme */
.white-theme{
    font-weight: bolder;
    font-size: 20px;
    padding-top: 20px;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 1240px) {  
    
    .targets img{
        height: 230px;
     }

}


@media only screen and (max-width: 1050px) {  
    .TTD{ 
        
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        grid-row-gap: 25px;
       
    }

    .TTD img{
        height: 220px;
     }

}

 
 

